---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>Academic Projects</h2>
<p> During my time in college, I have had two opportunities to test my knowledge of Computer Science and strengthen
  my understanding. These projects have helped me build a stronger foundation and guide me towards what I want to do within
  Computer Science. These two projects were building a website from scratch, and scraping online business articles to create
  a sentiment of the current market using AI. Both were wonderful growth opportunities, as I was able to learn a lot from the successes
  and failures that came with them.
</p>
<h3>Website From Scratch</h3>
<p>This project was the final for my <i>Database and Web System Development</i> course. The objective was to build a website from scratch using HTML and implementing various web development features. 
  This project taught me many lessons, key among them being the value of progressive development and planning. Before starting the coding of the project, I outlined the components required by my instructor and mapped 
  out the details for how I would implement each one. This made it far easier to code the website and its features later down the line. 
  Working on this project gave me the chance to explore and develop skills in many aspects of web development and general coding. I gained hands-on experience with databases, servers, CRUD functionality, user session management, authentication (login and registration), password hashing, and CSS styling. Additionally,
  the project taught me how to approach larger development tasks with greater confidence by breaking them down into manageable steps and careful planning.
</p>
<h3>Market Sentiment Analyzer</h3>
<p>This semester-long project, assigned in my <i>Software Engineering</i> course, was divided into three sub-projects. The goal for the project was to automate the process of reading URLs from a text file, extracting their headlines using web scraping, and 
  analyzing the sentiment of those headlines using two large language models. It was a valuable chance to apply the concepts and tools I had learned in the classroom and broaden my understanding of the Computer Science field. Throughout the development process,
  I learned the importance of version control and how to set up and use a local environment. Completing this assignment significantly strengthened my skills in concepts like object-oriented programming, abstract base classes, AI, Selenium, local environments, testing, and git. 
</p>
<h2>Personal Projects</h2>
<p>While I haven't yet completed any personal projects, I plan to dedicate this summer to developing one or two of my own. My goal is to strengthen my existing skills and deepen my understanding of core Computer Science concepts. I recognize that there's still much to learn,
  and I want to approach the workforce with both confidence and competence. These projects will not only reinforce what I have already learned but also push me to explore new areas and grow.</p>
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

